<tr>
  <td><%= I18n.l(article.created_at, format: :short) %></td>
  <td>Frontend</td>
  <td><%= article.title %></td>
  <td>
    <div class="icons">
      <a href="#" title="Editar"><%= image_tag("icons/gray/edit.svg") %></a>
      <%= link_to [:administrate, article], title:"Visualizar" do %>
      <%= image_tag("icons/gray/eye.svg") %>
      <% end %>
      
      <a href="#" title="Deletar"><%= image_tag("icons/gray/close.svg") %></a>
    </div>
  </td>
</tr>